.title-date {
  color: #0075ff;
  text-align: center;
  font-family: LINE Seed Sans KR;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.09375rem;
  margin-top: 1.5rem;
}

.time-div {
  border-radius: 1.25rem;
  background: #e8f2ff;
  padding: 1px;
}

.time-div .time-title {
  margin-top: 1.5rem;
  margin-bottom: 0;
  color: #0075ff;
  text-align: center;
  font-family: LINE Seed Sans KR;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.time-div .time-clock {
  display: inline-block;
  color: #0075ff;
  text-align: center;
  font-family: LINE Seed Sans KR;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.time-div .time-btn {
  width: 28.875rem;
  height: 4.00263rem;
  border-radius: 0.625rem;
  border: 2px solid #398fff;
  background: #fff;
  color: #0075ff;
  text-align: center;
  font-family: LINE Seed Sans KR;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1rem;
}

.time-div .time-btn:hover {
  background: #0075ff;
  color: white;
}

.timeText-div {
  padding: 2rem;
}
.timeText-div .title {
  color: #0075ff;
  font-family: LINE Seed Sans KR;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.timeText-div .time {
  color: #000;
  font-family: LINE Seed Sans KR;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1125rem;
}

.title-rank {
  color: #000;
  font-family: LINE Seed Sans KR;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.03125rem;
}
.ranking p {
  margin: 0 0 0 0;
}
.rank {
  color: #0075ff;
  text-align: center;
  font-family: LINE Seed Sans KR;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.rank-text {
  color: #000;
  text-align: center;
  font-family: LINE Seed Sans KR;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.rank-grade {
  color: #525252;
  text-align: center;
  font-family: LINE Seed Sans KR;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02813rem;
}

.toDo-div {
  border-radius: 1.25rem;
  border: rgba(0, 117, 255, 0.50) solid 1px;
  padding: 0 0;
  position: relative;
}

.toDo-div .title {
  color: #0075ff;
  text-align: center;
  font-family: LINE Seed Sans KR;
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-bottom: #0075ff solid 1px;
  margin-top: 1rem;
  margin-bottom : 2rem;
}

.toDo-div .toDo {
  text-align: left;
  padding: 0 0;
  display: inline-block;
}

.toDo-div .text {
  margin: 0 0 0 0;
  line-height: 120%;
  padding: 0 0;
  text-align: left;
  color: #000;
  font-family: LINE Seed Sans KR;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
}

.toDoList {
  height: 1.3rem;
  width: auto;
  margin: 1.2rem 1.2rem;
}

.AddToDo-div {
  border-radius: 0.625rem;
  border: 2px solid rgba(0, 117, 255, 0.5);
  position: absolute;
  bottom: 1rem;
  width: 94%;
  margin: 0 3%;
  text-align: left;
}

.AddToDo-div input[type="text"] {
  border: none;
  padding: 0 0;
  margin: 10px;
  width: 90%;
  height: 24px;
}

.AddToDo-div input[type="text"]:focus {
  outline: none;
}

.AddToDo-div input[type="button"] {
  display: inline-block;
  font-size: 1.5rem;
  width: 24px;
  height: 35px;
  padding: 0;
  border: none;
  background-color: transparent;
  align-items: center;
  font-weight: 400;
  justify-content: center;
  font-family: LINE Seed Sans KR;
}
