.title-date {
  color: #0075ff;
  text-align: center;
  font-family: LINE Seed Sans KR;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.09375rem;
  padding-top: 1.5rem;
}

.main-page .time-div {
  border-radius: 1.25rem;
  background: #e8f2ff;
  padding: 1px;
}

.time-div .time-title {
  margin-top: 1.5rem;
  margin-bottom: 0;
  color: #0075ff;
  text-align: center;
  font-family: LINE Seed Sans KR;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.time-div .time-clock {
  display: inline-block;
  color: #0075ff;
  text-align: center;
  font-family: LINE Seed Sans KR;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.time-div .time-btn {
  width: 60%;
  height: 4rem;
  border-radius: 0.625rem;
  border: 2px solid #398fff;
  background: #fff;
  color: #0075ff;
  text-align: center;
  font-family: LINE Seed Sans KR;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1rem;
  transition: all 1s;
}

.time-div .time-btn:hover {
  background: #0075ff;
  color: white;
  transition: all 1s;
}

.timeText-div {
  padding: 2rem;
}
.timeText-div .title {
  color: #0075ff;
  font-family: LINE Seed Sans KR;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.timeText-div .time {
  color: #000;
  font-family: LINE Seed Sans KR;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1125rem;
}

.title-rank {
  color: #000;
  font-family: LINE Seed Sans KR;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.03125rem;
}
.ranking p {
  margin: 0 0 0 0;
}
.rank {
  color: #0075ff;
  text-align: center;
  font-family: LINE Seed Sans KR;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.rank-text {
  color: #000;
  text-align: center;
  font-family: LINE Seed Sans KR;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.rank-grade {
  color: #525252;
  text-align: center;
  font-family: LINE Seed Sans KR;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02813rem;
}