.main-title{
    margin-top : 50px;
    margin-botton : -30px;
    color: #0075FF;
    font-family: LINE Seed Sans KR;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main-subtitle{
    margin-top : -30px;
    color: #606367;
    text-align: center;
    font-family: LINE Seed Sans KR;
    font-size: 30px;
    font-style: normal;
    font-weight: 250;
    line-height: normal;
}