@media (min-height: 768px) {
.single-pg {
  padding-bottom: 10%;
}
}

.single-pg {
  padding-bottom: 5%;
}

/* Focus Time BG Color  */
.single-pg .icon-div {
  background: white;
  margin-top: 1rem;
  height: calc(680px - 240px - 1rem);
  border-radius: 1.25rem;
  background: #fff;
}

.single-pg .toDo-div {
  background: white;
  border : none;
}

.icon-div {
  padding-top : 0.1px;
}

.video-div {
  margin: 20px;
}
.icon-div .icon-comment-div {
  text-align: center;
  margin : 20px;
  margin-top: 2rem;
  background-color: #92C4FF;
  border-radius: 50px;
}
.icon-div .icon-comment {
  padding:10px;
  height: 2.8125rem;
  color: #000;
text-align: center;
font-family: LINE Seed Sans KR;
font-size: 1.3rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}